name: Laravel

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, mysql, pdo_mysql, bcmath, soap, intl, gd, exif, iconv, fileinfo
        coverage: xdebug

    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      working-directory: laravel-project

    - name: Install Dependencies
      run: composer install --no-progress --prefer-dist --optimize-autoloader
      working-directory: laravel-project

    - name: Generate key
      run: php artisan key:generate
      working-directory: laravel-project

    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
      working-directory: laravel-project

    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
      working-directory: laravel-project

    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit
      working-directory: laravel-project
